:root {
  font-family: "Lato", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
}

/* container for the game*/
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

/* game squares */
.square-div {
  width: 100px;
  height: 100px;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}

.square-div:hover {
  background-color: #f3f4f6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.square-win {
  border-color: blue;
  border-width: 1px;
}

/*Buttons */
.buttons-container {
  display: flex;
  gap: 20px;
}

.restart-button,
.bot-button {
  margin-top: 50px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #d1d5db;
  border-style: solid;

  display: inline-block;
}

.restart-button:hover,
.bot-button:hover {
  background-color: #f3f4f6;
  cursor: pointer;
}
