.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* container for the game*/
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/* game squares */
.square-div {
  width: 100px;
  height: 100px;
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-win {
  background-color: blue;
}
